<!-- args: total, available_currencies, currency -->
{% extends 'layouts/layout_user.html' %}
{% block title %}
Dashboard | {{ config['PUBLIC_CONFIG'].site.title }}
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1">
            <p>{% trans %}Welcome{% endtrans %} {{ current_user.email }}</p>
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('user.settings') }}" class="btn btn-info" role="button">{% trans %}Settings{% endtrans
                %}</a>
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('user.activate') }}" class="btn btn-info" role="button">{% trans %}Activate{% endtrans
                %}</a>
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('user.ping_service') }}" class="btn btn-info" role="button">{% trans %}Ping{% endtrans
                %}</a>
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('user.stop_service') }}" class="btn btn-info" role="button">{% trans %}Stop{% endtrans
                %}</a>
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('user.logout') }}" class="btn btn-info" role="button">{% trans %}Logout{% endtrans
                %}</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/js/socket.io/1.7.4/socket.io.min.js') }}"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
    });
    socket.on('newnumber', function() {
        socket.emit('test', {data: 'hey'});
    });
</script>
{% endblock %}