{% extends 'layouts/layout_user.html' %}
{% block title %}
Dashboard | {{ config['PUBLIC_CONFIG'].site.title }}
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1">
            <p>{% trans %}Welcome{% endtrans %} {{ current_user.email }}</p>
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('user.settings') }}" class="btn btn-info" role="button">{% trans %}Settings{% endtrans
                %}</a>
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('user.connect') }}" class="btn btn-info" role="button">{% trans %}Connect{% endtrans
                %}</a>
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('user.activate') }}" class="btn btn-info" role="button">{% trans %}Activate{% endtrans
                %}</a>
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('user.ping_service') }}" class="btn btn-info" role="button">{% trans %}Ping{% endtrans
                %}</a>
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('user.stop_service') }}" class="btn btn-info" role="button">{% trans %}Stop{% endtrans
                %}</a>
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('user.logout') }}" class="btn btn-info" role="button">{% trans %}Logout{% endtrans
                %}</a>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h4 class="card-title">{% trans %}Streams:{% endtrans %}</h4>
            <table class="table">
                <thead>
                <tr>
                    <th class="number">#</th>
                    <th class="value">{% trans %}Name{% endtrans %}</th>
                    <th class="value">{% trans %}Type{% endtrans %}</th>
                    <th class="value">{% trans %}Status{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for rev in streams %}
                <td>{{ loop.index }}</td>
                <td>{{ rev.name }}</td>
                <td>{{ rev.type }}</td>
                <td>{{ rev.status }}</td>
                <td>
                    <button type="submit" class="btn btn-success btn-xs"
                            onclick="start_stream('{{ rev.id }}')">
                        {% trans %}Start{% endtrans %}
                    </button>
                    <button type="submit" class="btn btn-success btn-xs"
                            onclick="stop_stream('{{ rev.id }}')">
                        {% trans %}Stop{% endtrans %}
                    </button>
                    <button type="submit" class="btn btn-success btn-xs"
                            onclick="restart_stream('{{ rev.id }}')">
                        {% trans %}Restart{% endtrans %}
                    </button>
                    <button type="submit" class="btn btn-success btn-xs"
                            onclick="edit_stream('{{ rev.id }}')">
                        {% trans %}Edit{% endtrans %}
                    </button>
                    <button type="submit" class="btn btn-danger btn-xs"
                            onclick="remove_stream('{{ rev.id }}')">
                        {% trans %}Remove{% endtrans %}
                    </button>
                </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <button class="btn btn-success btn-send col-md-2" onclick="add_stream()">
                    {% trans %}Add{% endtrans %}
                </button>
            </div>
        </div>
    </div>
</div>

<div id="money_dialog" class="modal fade" tabindex=-1 role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/js/socket.io/1.7.4/socket.io.min.js') }}"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
    });
    socket.on('newnumber', function() {
        socket.emit('test', {data: 'hey'});
    });
    // stream
     function add_stream_entry(url) {
        $.ajax({
            url: url,
            type: "POST",
            dataType: 'json',
            data: $('#stream_entry_form').serialize(),
            success: function (response) {
                console.log(response);
                $('#money_dialog').modal('hide');
                window.location.reload();
            },
            error: function (error) {
                console.error(error);
                $('#money_dialog .modal-content').html(data);
            }
        });
    }

    function edit_stream_entry(url) {
        $.ajax({
            url: url,
            type: "POST",
            dataType: 'json',
            data: $('#stream_entry_form').serialize(),
            success: function (response) {
                console.log(response);
                $('#money_dialog').modal('hide');
                window.location.reload();
            },
            error: function (error) {
                console.error(error);
                $('#money_dialog .modal-content').html(data);
            }
        });
    }
    function add_stream() {
        var url = "{{ url_for('user.add_stream') }}";
        $.get(url, function(data) {
            $('#money_dialog .modal-content').html(data);
            $('#money_dialog').modal();

            $('#submit').click(function(event) {
                event.preventDefault();
                add_stream_entry(url);
            })
        });
    }
    function edit_stream(sid) {
        var url = "/user/stream/edit/" + sid;
        $.get(url, function(data) {
            $('#money_dialog .modal-content').html(data);
            $('#money_dialog').modal();

            $('#submit').click(function(event) {
                event.preventDefault();
                edit_stream_entry(url);
            })
        });
    }

    // functions without modal dialog

    function remove_stream(sid) {
        $.ajax({
            url: "{{ url_for('user.remove_stream') }}",
            type: "POST",
            dataType: 'json',
            data: {"sid":sid},
            success: function (response) {
                console.log(response);
                window.location.reload();
            },
            error: function (error) {
                console.error(error);
            }
        });
    }
    function start_stream(sid) {
        $.ajax({
            url: "{{ url_for('user.start_stream') }}",
            type: "POST",
            dataType: 'json',
            data: {"sid":sid},
            success: function (response) {
                console.log(response);
                window.location.reload();
            },
            error: function (error) {
                console.error(error);
            }
        });
    }
    function stop_stream(sid) {
        $.ajax({
            url: "{{ url_for('user.stop_stream') }}",
            type: "POST",
            dataType: 'json',
            data: {"sid":sid},
            success: function (response) {
                console.log(response);
                window.location.reload();
            },
            error: function (error) {
                console.error(error);
            }
        });
    }
    function restart_stream(sid) {
        $.ajax({
            url: "{{ url_for('user.restart_stream') }}",
            type: "POST",
            dataType: 'json',
            data: {"sid":sid},
            success: function (response) {
                console.log(response);
                window.location.reload();
            },
            error: function (error) {
                console.error(error);
            }
        });
    }
</script>
{% endblock %}