{% extends 'layouts/layout.html' %}

{% block title %}
{{ config['PUBLIC_CONFIG'].site.title }}
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/index.css') }}"/>
{% endblock %}

{% block content %}

<main>
    <div class="container">
        <div class="jumbotron text-center">
            <div class="col-md-6">
                <a href={{ url_for('HomeView:signin') }} class="btn btn-warning">Sign In</a>
            </div>
            <div class="col-md-6">
                <a href={{ url_for('HomeView:signup') }} class="btn btn-warning">Sign Up</a>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container">
        <div class="jumbotron text-center">
            <p class="keep-left">Address: {{config['PUBLIC_CONFIG'].support.contact_address }}</p>
            <p class="keep-left">Copyright © 2014-2018 <a
                    href="{{ config['PUBLIC_CONFIG'].company.domain }}">{{ config['PUBLIC_CONFIG'].company.title }}</a>.
                All rights reserved.</p>
            <p> Website development -
                <a href="/">
                    <img src="{{ url_for('static', filename='assets/images/fastogt.png') }}">
                </a>
            </p>
        </div>
    </div>
</footer>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
{% endblock %}